<section class="ctn">
    <div class="card">
        <h2 class="card__title">{{ featured.title }}</h2>
        <div class="card--text card__text--technos">

            <p class="card__text--technos__body">{{ featured.body }}</p>
            {% for l in featured.logos %}
                <a class="card__text__logo" href="{{ l.link }}" target="_blank"><img {{ l.name }}" src="{{ vich_uploader_asset(l,
                        'imageFile')
            }}"></a>
            {% endfor %}
        </div>
        <img class="card__img" src="{{ vich_uploader_asset(featured, 'imageFile') }}" alt="Drawing of programming man">

    </div>
</section>
